In [2]:
import sys
print(sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

Python 
------
  |->class <--> object design model 
     |           |__real value - own state/memory
    type
    
    10 11 12 0 -1 23423.234  'abc' True False

In [3]:
print(type(10),type(10.0),type(''),type(True))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [6]:
a = 10
b = 4+6
c = 5+5
d = 3+7
print(hex(id(10)))
print(hex(id(a)))
print(hex(id(b)))
print(hex(id(c)))
print(hex(id(d)))

0x7ffc2b7e9448
0x7ffc2b7e9448
0x7ffc2b7e9448
0x7ffc2b7e9448
0x7ffc2b7e9448

In [ ]:
int float complex # numerical / number operation - arithmetic,relational,logical
          -------
             |-> real ; img

In [8]:
print(type(10))
float(10)

<class 'int'>

10.0

In [9]:
complex(10)

(10+0j)

In [14]:
c = complex(10)
print(type(c))
c

<class 'complex'>

(10+0j)

In [ ]:
bool - True False 
NoneType - None

Collection - Collection of items
    |
    |---> sequential - ordered format - index based - str,bytes,list,tuple
    |---> mapping - unordered - key:value      - dict
                    unordered - key only    - set

Product
   |----> product_id : 101 , product_name: prodA , product_Cost: 93939.13
          product_sales: 98.24 , product_status: True ....

In [31]:
prod_id = 101
prod_name = 'prodA'
prod_cost = 93939.34
prod_status = True
    # Vs
product_infoB  = [102,'prodB',93939.35,False] # list - mutable (we can add/modify/delete)
    # Vs
product_infoC  = (103,'prodC',63939.35,True)  # tuple - immutable ( we can't add/modify/delete)
    # Vs
product_infoD  = {'K1':104,'K2':'prodD','K3':True,'K4':293923.42} # dict - mutable (we can add/modify/delete)

In [15]:
# dictName = {Key:Value}
d = {'1':'a', '2':'b', '3':'c', '4':'d'}
 
{v:[i for i in d.keys() if d[i] == v] for k,v in d.items()}

{'a': ['1'], 'b': ['2'], 'c': ['3'], 'd': ['4']}

In [29]:
d.keys()

dict_keys(['K1', 'K2', 'K3', 'K4', 'K5'])

In [30]:
d.items()

dict_items([('K1', 10), ('K2', 20), ('K3', 30), ('K4', 40), ('K5', 50)])

In [18]:
for V in d.items():
    print("-->",V)
    k,v = V # multiple initialization  V1,V2,V3 = value1,value2,value3
    print(k,v)

--> ('1', 'a')
1 a
--> ('2', 'b')
2 b
--> ('3', 'c')
3 c
--> ('4', 'd')
4 d

In [19]:
L=[10,20,30,40,50]

result=[]

for var in L:
    r=var+100
    result.append(r)
    
result

[110, 120, 130, 140, 150]

In [20]:
[var+100 for var in [10,20,30,40,50]]

[110, 120, 130, 140, 150]

In [21]:
L=[10,20,30,40,50]

result=[]

for var in L:
    if(var >30):
        r=var+100
        result.append(r)
    
result

[140, 150]

In [22]:
[var+100 for var in [10,20,30,40,50] if var >30]

[140, 150]

In [23]:
d={'K1':10,'K2':20,'K3':30,'K4':40,'K5':50}
[var for var in d]

['K1', 'K2', 'K3', 'K4', 'K5']

In [25]:
[d[var] for var in d if d[var] >30]

[40, 50]

In [28]:
{'K1':[d[var] for var in d if d[var] >30]}

{'K1': [40, 50]}

Python program
 1. procedure code style - direct approach 
 2. object oriented style - object based approach   obj.var = <value>  obj.fx()//methodcall
 3. Functional style - Single line code - computing

In [35]:
prod_id = 101
prod_name = 'prodA'
prod_cost = 93939.34
prod_status = True
    # Vs
product_infoB  = [102,'prodB',93939.35,False] # list - mutable (we can add/modify/delete)
print(product_infoB[0])
print(product_infoB[1])
print(product_infoB[-1])
print('') # empty line

    # Vs
product_infoC  = (103,'prodC',63939.35,True)  # tuple - immutable ( we can't add/modify/delete)
print(product_infoC[0])
print(product_infoC[1])
print(product_infoC[-1])

102
prodB
False

103
prodC
True

In [ ]:
list is mutable - we can new data 
listname.append(Value) ->None 
listname.insert(index,value) ->None

In [36]:
L=[]
L.append('Data1')
L.append('Data2')
L

['Data1', 'Data2']

In [37]:
L.insert(1,'Data3')

In [38]:
L

['Data1', 'Data3', 'Data2']

In [ ]:
How to modify an existing list ?
      -------------
    ListName[oldIndex] = updatedValue

In [39]:
L=['Data1','Data2','Data3','Data4','Data5']
L[2]

'Data3'

In [40]:
L[2]='Data-XYZ' # modification

In [41]:
L

['Data1', 'Data2', 'Data-XYZ', 'Data4', 'Data5']

In [42]:
len(L)

5

In [43]:
L[2]

'Data-XYZ'

In [44]:
L[2:]

['Data-XYZ', 'Data4', 'Data5']

In [45]:
L[2:4]

['Data-XYZ', 'Data4']

In [46]:
L[:2]

['Data1', 'Data2']

In [47]:
L[-2:] # last 2 items

['Data4', 'Data5']

How to delete nth item from list ?

 listname.pop(index) -> removed_value Vs listname.pop() ->remove_last_indexvalue
        <or>
 del(listname[index]) ->None

In [48]:
L

['Data1', 'Data2', 'Data-XYZ', 'Data4', 'Data5']

In [49]:
L.pop()

'Data5'

In [50]:
L

['Data1', 'Data2', 'Data-XYZ', 'Data4']

In [51]:
L.pop(1)

'Data2'

In [52]:
L

['Data1', 'Data-XYZ', 'Data4']

In [53]:
var = input('prompt message')
print('product name is:',var)  # 1way
print(f'product name is:{var}') # 2nd style 
print('product name is:{}'.format(var)) # 3rd style

prompt messageproductA
product name is: productA
product name is:productA
product name is:productA

In [ ]:
'''
Write a python program:

step 1:  initialize an empty list   (ex:   products = [])
step 2:  use while loop - limit is 5
                      -> read a productName from <STDIN>
                      -> add input productName into an list - do append operation
step 3:  use for loop - display list of product Name one by one
step 4:  use len() - display total no.of products
'''

In [54]:
products=[]
c=0
while (c <5):
    p = input('Enter a productName:')
    products.append(p)
    c=c+1
    
print('list of products:-')
for var in products:
    print(var)
print('') # empty line
print(f'Total no.of products:{len(products)}')

Enter a productName:prodA
Enter a productName:prodB
Enter a productName:prodC
Enter a productName:prodD
Enter a productName:prodE
list of products:-
prodA
prodB
prodC
prodD
prodE

Total no.of products:5

In [ ]:
dict - like list - mutable 

d={'K1':'V1'}

To add new data 
----------------
dictName['newKey'] = value  -->(1) <or>  dictName.setdefault('newKey',value)

To modify an existing value
-------------------------------
dictName['oldKey'] = updated_Value

To delete nth data from dict
------------------------------
dictname.pop('oldKey') ->removedValue  <or> del(dictname['oldKey'])

In [55]:
products = {} # empty dict
c=0
while(c<5):
    pname = input('Enter a productName:')
    products['K'+str(c+1)]=pname # adding new data to dict <or> products.setdefault('K'+str(c+1),pname)
    c=c+1
    
print('To get list of products')
for var in products:  # products.keys() <or> products.items()
    print(products[var])
    
print('')
print(f'Total no.of products:{len(products)}')

Enter a productName:prodA
Enter a productName:prodB
Enter a productName:prodC
Enter a productName:prodD
Enter a productName:prodE
To get list of products
prodA
prodB
prodC
prodD
prodE

Total no.of products:5

In [56]:
products.items()

dict_items([('K1', 'prodA'), ('K2', 'prodB'), ('K3', 'prodC'), ('K4', 'prodD'), ('K5', 'prodE')])

In [ ]:
list of list,tuple,dict
tuple of list,tuple,dict
dict of list,tuple,dict
#################################### MD

In [59]:
products=[['p101','pA',1000],['p102','pB',2000],['p103','pC',3000]] # list of list

print(products)
print(products[0])
print(products[-1])

[['p101', 'pA', 1000], ['p102', 'pB', 2000], ['p103', 'pC', 3000]]
['p101', 'pA', 1000]
['p103', 'pC', 3000]

In [60]:
print(products[0][0])
print(products[0][1])

p101
pA

In [61]:
products[0][2]

1000

In [62]:
products[0][2]=1245.62 # we can modify

In [63]:
products

[['p101', 'pA', 1245.62], ['p102', 'pB', 2000], ['p103', 'pC', 3000]]

In [64]:
products=[('p101','pA',1000),('p102','pB',2000),('p103','pC',3000)] # list of tuple
products.append(('p104','pD',4000))
products

[('p101', 'pA', 1000),
 ('p102', 'pB', 2000),
 ('p103', 'pC', 3000),
 ('p104', 'pD', 4000)]

In [65]:
print(products[0][0])
print(products[0][1])

p101
pA

In [66]:
products[0][2]

1000

In [67]:
products[0][2] = 2250.23

TypeError: 'tuple' object does not support item assignment

In [68]:
d={'pid':101,'pname':'pA','pid':102,'pname':'pB','pid':103}
print(d)

{'pid': 103, 'pname': 'pB'}

In [69]:
L=[{'pid':101,'pname':'pA'},{'pid':102,'pname':'pB'},{'pid':103,'pname':'pC'}] # list of dict
L

[{'pid': 101, 'pname': 'pA'},
 {'pid': 102, 'pname': 'pB'},
 {'pid': 103, 'pname': 'pC'}]

In [70]:
L[0]

{'pid': 101, 'pname': 'pA'}

In [71]:
L[0]['pid']

101

In [72]:
print(L[1]['pid'])
print(L[2]['pid'])

102
103

In [76]:
T=([],('D1','D2'),{}) # tuple of list/tuple/dict 

print(type(T))
print(type(T[0]))
print(len(T))

<class 'tuple'>
<class 'list'>
3

In [77]:
T[0].append('Data1')
T[0].append('Data2')
T[0].append('Data3')
T[0].append('Data4')
T[0].append('Data5')
T

(['Data1', 'Data2', 'Data3', 'Data4', 'Data5'], ('D1', 'D2'), {})

In [78]:
print(len(T))

3

In [79]:
type(T[-1])

dict

In [81]:
T[-1]['K1']='V1'
T[-1]['K2']='V2'
T

(['Data1', 'Data2', 'Data3', 'Data4', 'Data5'],
 ('D1', 'D2'),
 {'K1': 'V1', 'K2': 'V2'})

In [82]:
print(T[0][0])
print(T[1][0])
print(T[-1]['K1'])

Data1
D1
V1

In [83]:
# dict of list/tuple/dict

# 1Key => Multiple values 

products = {'K1':['p101','pA',1000],
            
            'K2':('p102','pB',2000),
            
            'K3':{'K1':'p103','K2':'pC','K3':3000}
           }
# display product names
print(products['K1'][1])
print(products['K2'][1])
print(products['K3']['K2'])

pA
pB
pC

In [84]:
products = {'K1':['p101',('pA1','pA2','pA3'),1000],
            
            'K2':('p102',['pB1','pB2','pB3'],2000),
            
            'K3':{'K1':'p103','K2':{'Key1':'pC','Key2':['pC1','pC2','pC3']},'K3':3000}
           }

In [85]:
products

{'K1': ['p101', ('pA1', 'pA2', 'pA3'), 1000],
 'K2': ('p102', ['pB1', 'pB2', 'pB3'], 2000),
 'K3': {'K1': 'p103',
  'K2': {'Key1': 'pC', 'Key2': ['pC1', 'pC2', 'pC3']},
  'K3': 3000}}

In [86]:
import pprint
pprint.pprint(products)

{'K1': ['p101', ('pA1', 'pA2', 'pA3'), 1000],
 'K2': ('p102', ['pB1', 'pB2', 'pB3'], 2000),
 'K3': {'K1': 'p103',
        'K2': {'Key1': 'pC', 'Key2': ['pC1', 'pC2', 'pC3']},
        'K3': 3000}}

In [87]:
pprint.pprint(products['K3'])

{'K1': 'p103', 'K2': {'Key1': 'pC', 'Key2': ['pC1', 'pC2', 'pC3']}, 'K3': 3000}

In [88]:
products['K3']['K2']['Key2'][1]

'pC2'

In [89]:
s={10,20,10,20,10,20,'D1','D1','D2','D2','D1','D1','D2','D1'}
print(type(s),len(s))
s

<class 'set'> 4

{10, 20, 'D1', 'D2'}

In [90]:
for var in s:
    print(var)

D1
10
D2
20

In [91]:
L=['D1','D1','D2','D1','D2','D3','D2','D2']
len(L)

8

In [92]:
set(L) # typecast to set

{'D1', 'D2', 'D3'}

In [93]:
list(set(L))

['D1', 'D2', 'D3']

In [ ]:
# Function 
# -------------
# Code block

1. function definition 
2. function call - invoke a definition

def functionName():
    '''
    named function definition block
    '''
    
functionName() # simple function call

In [98]:
def display(a1,a2):
    print("a1=",a1,"a2=",a2)
    
#display()
#TypeError: display() missing 2 required positional arguments: 'a1' and 'a2'
 
#display('data1')
#TypeError: display() missing 1 required positional argument: 'a2'

#display('data1','data2','data3')
#TypeError: display() takes 2 positional arguments but 3 were given

display('data1','data2')

a1= data1 a2= data2

In [103]:
def display(a1=100,a2=True): # default args 
    print("a1=",a1,"a2=",a2)
    
display()
display("DataA")
display("DataX","DataY")

#display('Da','Db','Dc')
#TypeError: display() takes from 0 to 2 positional arguments but 3 were given

a1= 100 a2= True
a1= DataA a2= True
a1= DataX a2= DataY

In [106]:
def display(login,password,port=20,fname='emp.csv'):
    print('login=',login,'password=',password)
    print(port,fname)
    
#display()
#TypeError: display() missing 2 required positional arguments: 'login' and 'password'

display('userA','abc123')

login= userA password= abc123
20 emp.csv

In [107]:
def fx(a1,a2,a3=True,a4):
    print("Hello")

SyntaxError: non-default argument follows default argument (464208256.py, line 1)

In [108]:
def fx(a1,a2,a4,a3=True):
    print("Hello")

In [110]:
def fx(*a1):
    print(type(a1),a1)
    
fx()
fx(10,20,30,40)
fx(10,20,'D1','D2')


fx(fname='emp.csv')

<class 'tuple'> ()
<class 'tuple'> (10, 20, 30, 40)
<class 'tuple'> (10, 20, 'D1', 'D2')

TypeError: fx() got an unexpected keyword argument 'fname'

In [111]:
def fx(**kwargs):
    print(kwargs)
    
fx()
fx(fname='p1.csv')

{}
{'fname': 'p1.csv'}

In [112]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [113]:
import re
help(re.search)

Help on function search in module re:

search(pattern, string, flags=0)
    Scan through string looking for a match to the pattern, returning
    a Match object, or None if no match was found.

In [114]:
help(re.sub)

Help on function sub in module re:

sub(pattern, repl, string, count=0, flags=0)
    Return the string obtained by replacing the leftmost
    non-overlapping occurrences of the pattern in string by the
    replacement repl.  repl can be either a string or a callable;
    if a string, backslash escapes in it are processed.  If it is
    a callable, it's passed the Match object and must return
    a replacement string to be used.

In [115]:
T=({'K':'V1'},)
T[0]['K']

'V1'

File Handling
------------------
   1. read data from <FILE> to python - display to monitor
   2. python ->create and write data to File
   
   3. read data from <File1> to python - create and write data to another File2 
  
   open('inputFile','r') -> <fileobject>
    
   fobj = open('inputFile','r')
   fobj.read() -> 'str'  <or> fobj.readlines() ->[]    
   fobj.close()

In [116]:
open('emp.csv','r')

FileNotFoundError: [Errno 2] No such file or directory: 'emp.csv'

In [117]:
open('E:\\emp.csv','r')

In [120]:
fobj = open('E:\\emp.csv','r')

s = fobj.read()

fobj.close()

print(s)
s

eid,ename,edept,eplace,ecost
101,raj,sales,pune,1000
102,leo,prod,bglore,2000
103,paul,HR,chennai,3000
104,anu,hr,hyderabad,4000
456,kumar,sales,bglore,3000
105,zion,Hr,mumbai,5000
106,bibu,sales,bglore,1450
107,theeb,sales,noida,4590
108,bibu,sales,bglore,5000
113,kumar,prod,hyderabad,5423

'eid,ename,edept,eplace,ecost\n101,raj,sales,pune,1000\n102,leo,prod,bglore,2000\n103,paul,HR,chennai,3000\n104,anu,hr,hyderabad,4000\n456,kumar,sales,bglore,3000\n105,zion,Hr,mumbai,5000\n106,bibu,sales,bglore,1450\n107,theeb,sales,noida,4590\n108,bibu,sales,bglore,5000\n113,kumar,prod,hyderabad,5423'

In [119]:
fobj = open('E:\\emp.csv','r')

L = fobj.readlines()

fobj.close()

print(L)

['eid,ename,edept,eplace,ecost\n', '101,raj,sales,pune,1000\n', '102,leo,prod,bglore,2000\n', '103,paul,HR,chennai,3000\n', '104,anu,hr,hyderabad,4000\n', '456,kumar,sales,bglore,3000\n', '105,zion,Hr,mumbai,5000\n', '106,bibu,sales,bglore,1450\n', '107,theeb,sales,noida,4590\n', '108,bibu,sales,bglore,5000\n', '113,kumar,prod,hyderabad,5423']

In [ ]:
# 2. python ->create and write data to File

wobj = open('new_filename','w') 
wobj.write('Single data\n')
wobj.close()

In [123]:
wobj = open('E:\\r1.log','w')

wobj.write('data1\n')
#wobj.write(34324)
#wobj.write('D1','D2')
wobj.write('34562'+'Rs'+'\n')
cost=234232.34
wobj.write(str(cost)+'\n')
wobj.close()

In [124]:
fobj = open('E:\\r1.log','r')
fobj.read()

'data1\n34562Rs\n234232.34\n'

# Write a python program:
# ---------------------------
step 1: initialize a pin number (ex: pin=1234)
step 2: use - while loop limit is 3
                - read a pin Number from <STDIN>
                - test inputPin with an existing pin
                -       ---------------------------//Success - display success - 1st / 2nd /3rd
                
step 3: pin is blocked - if all 3 inputs are failed.
|
create a newFile(pin_history.log) ->append mode
        - write user input details + date/time  to file
---------------------------------------------------------------------------------------------------

In [125]:
import time
time.ctime()

'Mon Mar 10 15:06:27 2025'

In [130]:
pin = 1234
count = 0
while(count <3):
    p = input('Enter a pin Number:')
    count = count + 1
    if(int(p) == pin):
        print(f'Success - pin is matched - {count}')
        break # exit from loop
        
if(int(p) != pin):
    print('pin is blocked')

Enter a pin Number:1231312
Enter a pin Number:1231231
Enter a pin Number:231212
pin is blocked

In [137]:
wobj = open('E:\\pin_history.log','a')
pin = 1234
count = 0
while(count <3):
    p = input('Enter a pin Number:')
    count = count + 1
    if(int(p) == pin):
        wobj.write(f'Success - pin is matched - {count} - date/time:{time.ctime()}\n')
        print(f'Success - pin is matched - {count}')
        break # exit from loop
    else:
        wobj.write(f'Failed - Input pin {p} is not matched - date/time:{time.ctime()}\n')
        
if(int(p) != pin):
    print('pin is blocked')
    wobj.write(f'pin is blocked - date/time:{time.ctime()}\n')
    
wobj.close()

Enter a pin Number:3456
Enter a pin Number:5432
Enter a pin Number:22221
pin is blocked

In [138]:
def pin_test(pin_number):
    wobj = open('E:\\pin_history.log','a')
    pin = pin_number
    count = 0
    while(count <3):
        p = input('Enter a pin Number:')
        count = count + 1
        if(int(p) == pin):
            wobj.write(f'Success - pin is matched - {count} - date/time:{time.ctime()}\n')
            print(f'Success - pin is matched - {count}')
            break # exit from loop
        else:
            wobj.write(f'Failed - Input pin {p} is not matched - date/time:{time.ctime()}\n')
        
    if(int(p) != pin):
        print('pin is blocked')
        wobj.write(f'pin is blocked - date/time:{time.ctime()}\n')
    
    wobj.close()

In [139]:
pin_test(1234)

Enter a pin Number:3451
Enter a pin Number:1234
Success - pin is matched - 2

In [ ]:
Regular Expression (Regx)   ->  import re 
-------------------------
 |-> Search                 ->  re.search() 
                                => re.search('pattern_string','input_string',re.I) -><ack>/None
                                => re.findall('pattern_string','input_string',re.I) ->[list]/[]
            
 |-> Substitute             ->  re.sub()
                     => re.sub('oldpattern_string','replace_string','input_string',count,re.I) ->str

    |-> Split                  ->  re.split()
                     => re.split('pattern_string','input_string') ->[splitted_results]

In [140]:
import re

msg='101,raj,sales,pune,1000'

In [141]:
re.search('sales',msg)

In [142]:
re.search('prod',msg)

In [143]:
re.search('prod',msg) == None

True

In [144]:
bool(re.search('sales',msg))

True

In [145]:
bool(re.search('QA',msg))

False

In [146]:
if(re.search('sales',msg)):
    print('Yes - pattern is matched')
    print(msg)

Yes - pattern is matched
101,raj,sales,pune,1000

In [147]:
if(re.search('QA',msg)):
    print('Yes - matched')
else:
    print('Sorry pattern is not matched')

Sorry pattern is not matched

In [149]:
fobj = open('E:\\emp.csv','r')
L = fobj.readlines()
fobj.close()


for v in L:
    if(re.search('sales',v)):
        print(v.strip()) # remove \n chars

101,raj,sales,pune,1000
456,kumar,sales,bglore,3000
106,bibu,sales,bglore,1450
107,theeb,sales,noida,4590
108,bibu,sales,bglore,5000

In [150]:
re.search('sales','101,raj,SALES,pune')

In [151]:
re.search('sales','101,raj,SALES,pune',re.I) # re.IGNORECASE

Regx Chars
------------------
Basic Regular Expression (BRE)      - Single pattern
Extended Regular Expression (ERE)   - Multiple pattern 

Basic Regular Expression (BRE)      - Single pattern

^                   ==>  ^pattern

$                   ==>   pattern$

^pattern$          ==> ^pattern$ - pattern only style

.  ================> match any single char except \n   

                  ^sales.. <== line starts with sales followed by any two chars
                  ^5.  <== line starts with 5<anySingleChar>
                  
.*  ================> List of all 

[]  ---------> character class 

 [Aa]run  --> Arun arun //OK
 
 [Aav]run --->Arun arun vrun //OK
 
 [Aa][Rr]un ---> ARun  Arun aRun arun //OK
 
 [a-z] [A-Z]  [a-zA-Z] [0-9]  [a-zA-Z0-9] 
 
 ^[a-zA-Z].*[0-9]$  <=== line starts with anyalpha followed by any Text ends with single digit

^[]  []$ 

[at5] -> any where 'a' ->OK   => b[a]sh //OK
         any where 't' ->OK   => [t]emp //OK
         any where '5' ->OK   => OL[5] //OK
         
 ^[at5] -> line starts with  'a'  -> bash //Not matched ; [a]ix //OK
 
           line starts with  't'  -> [t]emp //OK
           
           line starts with '5'   -> OL5 //Not matched ; [5]Rs //OK
           
  [^at5] -> Not matching pattern 'a'
            Not matching pattern 't'
            Not matching pattern '5' 
            
      [^a-zA-Z] => Not matching any alpha 
      [^a-zA-Z0-9] => Not matching any alpha numeric
      
 space  -> \s
 
     ^\s <-- line starts with space
     \s$ <-- line ends with space
     
     [^a-zA-Z0-9\s] -> Match special chars only.
     
 [a-zA-Z0-9] (or) \w
 [0-9] (or) \d
 
 [^a-zA-Z0-9] ->\W
 
    [^\w\s] <== Match specialchars only
    ----------------------------------------
         
^$ <-- empty line

Extended Regular Expression (ERE)   - Multiple pattern 
-------------------------------------------------------------------------------
 | () + {}
 
 |  => pattern1 | pattern2 any one pattern is matched - anyorder/anywhere 
 
 () => (pattern1)(pattern2) - both pattern should match same order
 
 <pattern>+  - 1 time or more time
    
    a+bc   -> abc aaaaaaaaaaaaaaaabc //OK
    
    ab+c   -> abc //OK 
              aaaaaaaaaaaabc //Not-matched
              abbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbc //OK
    
    
    ^\s+.*([0-9]|[a-z])$
    ----------------------------
    
    {}
    ---
     pattern{n}  - ntimes 
     pattern{n,m} - minimum n times maximum m times
     pattern{n,}  # minimun n times or maximum nolimit

In [152]:
re.search('sales','sales,raj,sales,sales,pune,sales')

In [153]:
re.search('sales','sales dtails')

In [154]:
re.search('sales','sales dtails,sales ,sales count')

In [155]:
re.findall('sales','sales dtails,sales ,sales count')

['sales', 'sales', 'sales']

In [ ]:
# re.subsitute
# ------------------
re.sub('old_str','replace_str','input_string',count,re.I) -> result_str

result_str -> replaced_str
result_str -> original_str

In [156]:
re.sub('sales','prod','101,raj,sales,pune,1000')

'101,raj,prod,pune,1000'

In [157]:
re.sub('QA','prod','101,raj,sales,pune,2000')

'101,raj,sales,pune,2000'

In [ ]:
re.split(pattern,inputdata)

In [159]:
data="d1:10,20,30:data1"

re.split(":",data)

['d1', '10,20,30', 'data1']

In [160]:
re.split('[^\w\s]',data)

['d1', '10', '20', '30', 'data1']

In [164]:
fobj = open('E:\\inventory.txt','r')
for var in fobj.readlines():
    if(re.search('^[0-9]',var)):
        print(var.strip())

101:10,20,30,40,50
102:100,200
103:15,25,35
104:1000,2000
105:10,20,30,40,50,60,70
106:100,200,300
107:15,25,65,55

In [166]:
fobj = open('E:\\inventory.txt','r')
for var in fobj.readlines():
    var=var.strip()
    if(re.search('^[0-9]',var)): # filter line starts with any digits
        L=re.split('[^\w\s]',var) # split each line into multiple values based on any specialchars 
        print(L)

['101', '10', '20', '30', '40', '50']
['102', '100', '200']
['103', '15', '25', '35']
['104', '1000', '2000']
['105', '10', '20', '30', '40', '50', '60', '70']
['106', '100', '200', '300']
['107', '15', '25', '65', '55']

In [167]:
fobj = open('E:\\inventory.txt','r')
for var in fobj.readlines():
    var=var.strip()
    if(re.search('^[0-9]',var)): # filter line starts with any digits
        L=re.split('[^\w\s]',var) # split each line into multiple values based on any specialchars 
        print(L[1:])

['10', '20', '30', '40', '50']
['100', '200']
['15', '25', '35']
['1000', '2000']
['10', '20', '30', '40', '50', '60', '70']
['100', '200', '300']
['15', '25', '65', '55']

In [168]:
fobj = open('E:\\inventory.txt','r')
for var in fobj.readlines():
    var=var.strip()
    if(re.search('^[0-9]',var)): # filter line starts with any digits
        L=re.split('[^\w\s]',var) # split each line into multiple values based on any specialchars 
        total = 0
        for v in L[1:]:
            total = total + int(v)
        else:
            print(f'ItemCode:{L[0]}\t Sum of sales count:{total}')

ItemCode:101	 Sum of sales count:150
ItemCode:102	 Sum of sales count:300
ItemCode:103	 Sum of sales count:75
ItemCode:104	 Sum of sales count:3000
ItemCode:105	 Sum of sales count:280
ItemCode:106	 Sum of sales count:600
ItemCode:107	 Sum of sales count:160

In [ ]:
# after updating inventory file

In [169]:
fobj = open('E:\\inventory.txt','r')
for var in fobj.readlines():
    var=var.strip()
    if(re.search('^[0-9]',var)): # filter line starts with any digits
        L=re.split('[^\w\s]',var) # split each line into multiple values based on any specialchars 
        total = 0
        for v in L[1:]:
            total = total + int(v)
        else:
            print(f'ItemCode:{L[0]}\t Sum of sales count:{total}')

ItemCode:101	 Sum of sales count:150
ItemCode:102	 Sum of sales count:300
ItemCode:103	 Sum of sales count:195
ItemCode:104	 Sum of sales count:3000
ItemCode:105	 Sum of sales count:280
ItemCode:106	 Sum of sales count:600
ItemCode:107	 Sum of sales count:160
ItemCode:108	 Sum of sales count:1100

In [ ]:
>>> import re
>>>
>>> IP="101,raj,sales,pune"
>>>
>>> re.search("sales",IP)
<re.Match object; span=(8, 13), match='sales'>
>>>
>>>
>>> re.search("^sales",IP)
>>>
>>> re.search("^sales","salesaa asfasdfsd")
<re.Match object; span=(0, 5), match='sales'>
>>> re.search("^5","data5")
>>>
>>> re.search("^5","5days")
<re.Match object; span=(0, 1), match='5'>
>>>
>>> re.search("sales$",IP)
>>> re.search("sales$","data1,data2,sales")
<re.Match object; span=(12, 17), match='sales'>
>>>
>>> re.search("^sales$",IP)
>>>
>>> re.search("^sales$","sales data sales")
>>>
>>>
>>> re.search("^sales$","sales:")
>>>
>>>
>>> re.search("^sales.*","sales $@#$@#a a ASDFSDA234234SADafasfs")
<re.Match object; span=(0, 38), match='sales $@#$@#a a ASDFSDA234234SADafasfs'>
>>>
>>>
>>>
>>> re.search("^sales.*S","sales $@#$@#a a ASDFSDA234234SADafasfs")
<re.Match object; span=(0, 30), match='sales $@#$@#a a ASDFSDA234234S'>
>>>
>>> re.search("(java).*(sql)","programming java and sql topics")
<re.Match object; span=(12, 24), match='java and sql'>
>>>
>>> re.search("(sql).*(java)","programming java and sql topics")
>>>
>>>

In [ ]:
Object Oriented style programming
-----------------------------------
class className:
    .... 
    ....
    <attribute>
    
class - type 
className.<attribute>

In [175]:
class box:
    bid = 101
    bname = 'b1'
    
print(type(box),type(list),type(tuple),type(dict),type(int))

<class 'type'> <class 'type'> <class 'type'> <class 'type'> <class 'type'>

In [176]:
box.bid

101

In [177]:
box.Bid

AttributeError: type object 'box' has no attribute 'Bid'

In [ ]:
#python user defined class - mutable - like dict

In [178]:
class box:
    bid = 101
    
print(box.bid)     # we can access it

box.bid=505 # we can modify it

box.bsize = '10cm' # we can add new attribute

print(box.bid,box.bsize)

101
505 10cm

In [ ]:
 +-------------------+
 | [ ]  |   |  [ ]   |  <== blueprint sheet - class
 | (white)           |
 +-------------------+

+-----------+   +---------+
|[] | | []  |   | []| |[] |   ... <== real building - object
| (white)   |   |(white)  |
+-----------+   +---------+
  1st Block       2nd Block
    
    
class className:
    ....

className() <== Constructor

In [179]:
class Enrollment:
    '''class attributes'''
    Name = ''
    DOB = ''
    Place = ''

In [181]:
obj1 = Enrollment()
obj1.Name = 'Arun'
obj1.DOB = '1st Jan'
obj1.Place = 'City-1'

obj2 = Enrollment()
obj2.Name = 'Leo'
obj2.DOB = '2nd Feb'
obj2.Place = 'City-2'

In [182]:
# display emp detils
print(obj1.Name,obj1.DOB,obj1.Place)
print(obj2.Name,obj2.DOB,obj2.Place)

Arun 1st Jan City-1
Leo 2nd Feb City-2

In [183]:
obj2.Place = 'Hyderabad' # update working City

In [184]:
print(obj1.Name,obj1.DOB,obj1.Place)
print(obj2.Name,obj2.DOB,obj2.Place)

Arun 1st Jan City-1
Leo 2nd Feb Hyderabad

In [185]:
# function Vs  method
# -------      ---------

# fx()         obj.fx() 
# ----         --------

def f1():
    print('Hello')
    
class box:
    def f2():
        print('Hello')
        
        
obj = box()

print(type(f1),type(obj.f2))

<class 'function'> <class 'method'>

In [186]:
f1()

Hello

In [187]:
obj.f2()

TypeError: box.f2() takes 0 positional arguments but 1 was given

In [189]:
def F2():
    print('Hello')

F2()
F2(10)

Hello

TypeError: F2() takes 0 positional arguments but 1 was given

In [ ]:
obj.f2() # f2(obj)

# obj.f2('D1','D2','D3') -> f2(obj,'D1','D2','D3')

In [190]:
class box:
    def f2(self):
        print('self=',self)
        
obj1 = box()
print("obj1=",obj1)
obj1.f2() # f2(obj1)

obj1= <__main__.box object at 0x000001C1D1C1BB10>
self= <__main__.box object at 0x000001C1D1C1BB10>

In [191]:
obj2 = box()
print("obj2=",obj2)
obj2.f2()

obj2= <__main__.box object at 0x000001C1D1BFA410>
self= <__main__.box object at 0x000001C1D1BFA410>

In [192]:
class box:
    bid=101
    def f1(self,a):
        print(self.bid) # obj1.bid
        self.bid = a

In [193]:
obj1 = box()
print(obj1.bid) # 101

obj1.f1(505) # f1(obj1,505)

101
101

In [194]:
obj1.bid

505

In [195]:
obj2 = box()
obj2.bid

101

In [196]:
class Enrollment:
    '''class attributes'''
    Name = ''
    DOB = ''
    Place = ''
    def f1(self,n,d,p):
        self.Name = n
        self.DOB = d
        self.Place = p
        print('Enrollment is done')
    def f2(self):
        print(f'About {self.Name} details')
        print(f'Emp name:{self.Name} DOB:{self.DOB}')
        print(f'Place:{self.Place}')
    def f3(self,p):
        self.Place = p # updating
        print('Updated details:-')
        self.f2()

In [197]:
obj1 = Enrollment()
obj1.f1('Arun','1st Jan','City-1')

Enrollment is done

In [198]:
obj2 = Enrollment()
obj2.f1('Leo','2nd Feb','City-2')

Enrollment is done

In [199]:
obj1.f2()

About Arun details
Emp name:Arun DOB:1st Jan
Place:City-1

In [200]:
obj2.f2()

About Leo details
Emp name:Leo DOB:2nd Feb
Place:City-2

In [201]:
obj2.f3('Hyderabad')

Updated details:-
About Leo details
Emp name:Leo DOB:2nd Feb
Place:Hyderabad

In [202]:
obj1.f2()

About Arun details
Emp name:Arun DOB:1st Jan
Place:City-1

In [203]:
obj2.f2()

About Leo details
Emp name:Leo DOB:2nd Feb
Place:Hyderabad

In [ ]:
1st ->Enrolled ->2nd display details
---------------  ====================
use case - DB
-----------------
1st -> establish database connection -> 2nd ->Query

In [204]:
obj3 = Enrollment()
obj3.f2()

About  details
Emp name: DOB:
Place:

In [ ]:
class DBI:
    def connect(self,....):
        ......
    def method1(self):
        .... # Query
    def method2(self):
        .....# Query
        
obj1 = DBI()
obj1.method2() -> In oops - OK - valid Call  but operation is failed.

In [ ]:
__variable/method__ <== special attribute

In [206]:
class Enrollment:
    #def f1(self,n,d,p):
    def __init__(self,n,d,p):
        self.Name = n
        self.DOB = d
        self.Place = p
        print('Enrollment is done')
    def f2(self):
        print(f'About {self.Name} details')
        print(f'Emp name:{self.Name} DOB:{self.DOB}')
        print(f'Place:{self.Place}')
    def f3(self,p):
        self.Place = p # updating
        print('Updated details:-')
        self.f2()
        
obj1 = Enrollment('Arun','1st Jan','City-1')
#obj1.f1('Arun','1st Jan','City-1')

obj2 = Enrollment('Leo','2nd Feb','City-2')
#obj2.f1('Leo','2nd Feb','City-2')

Enrollment is done
Enrollment is done

In [207]:
obj1.f2()
obj2.f2()

About Arun details
Emp name:Arun DOB:1st Jan
Place:City-1
About Leo details
Emp name:Leo DOB:2nd Feb
Place:City-2

In [208]:
OBJ3 = Enrollment()

TypeError: Enrollment.__init__() missing 3 required positional arguments: 'n', 'd', and 'p'

In [209]:
OBJ3

NameError: name 'OBJ3' is not defined

In [211]:
# file: myab.py
# -------------------
def mysearch(a1,a2):
    class myMatch:
        def __init__(self,a1,a2):
            self.pattern = a1
            self.input_str = a2
        def method1(self):
            return self.pattern in self.input_str
        
    obj = myMatch(a1,a2)
    return obj

In [212]:
# import myab
# myab.mysearch('sales','101,raj,sales,pune')

mysearch('sales','101,raj,sales,pune')

In [213]:
myobj1 = mysearch('sales','101,raj,sales,pune')
myobj1.method1()

True

In [214]:
print(mysearch)

<function mysearch at 0x000001C1D1C2E660>

In [ ]:
>>>
>>> class box:
...     bid=101
...
>>> box
<class '__main__.box'>
>>>
>>> box()
<__main__.box object at 0x00000234BDD606E0>
>>>
>>> box()
<__main__.box object at 0x00000234BDCCDF90>
>>>
>>> obj1 = box()
>>>
>>> obj2 = box()
>>>
>>> obj1.bid
101
>>> obj2.bid
101
>>> obj1.bid = 'B-001'
>>>
>>> obj2.bid = 'B-002'
>>>
>>> obj1.bid
'B-001'
>>> obj2.bid
'B-002'
>>> box.bid
101
>>> obj3 = box()
>>> obj3.bid
101
>>>

>>> class box:
...     def f1(self):
...         print('This is non-constructor')
...
>>> box()
<__main__.box object at 0x000001595ADC06E0>
>>>
>>> obj = box()
>>> obj.f1()
This is non-constructor
>>>
>>>
>>> class box:
...     def __init__(self):
...         print("This is special method")
...
>>> box()
This is special method
<__main__.box object at 0x000001595ADC0830>
>>>
>>> class box:
...     def __init__(self,a1,a2=0,*a3,**a4):
...         print("Initiaization method")
...         print("a1=",a1,"a2=",0,"a3=",a3,"a4=",a4)
...
>>>
>>> obj1 = box(10,20,30,40)
Initiaization method
a1= 10 a2= 0 a3= (30, 40) a4= {}
>>>
>>> obj1 = box(10,20,30,40,db="oracle")
Initiaization method
a1= 10 a2= 0 a3= (30, 40) a4= {'db': 'oracle'}
>>>
>>> obj1 = box(10,db="oracle")
Initiaization method
a1= 10 a2= 0 a3= () a4= {'db': 'oracle'}
>>>
>>>